 * {
            padding: 0px;
            margin: 0px;
			font-family: nunito,sans serrif;
			
        }

        #head {
            width: 100%;
            background-color: #222;
   
        }

        .top-1 {
            text-align: center;
			padding: 10px;
        }

        .top-1 h1 {
            color: #ffffff;
			font-size:60px;
        }

        .top-1 h2 {
            color: #ffb84d;
        }

        .top-2 {
            padding: 10px;
            background-color: #e6e5e5;
            color: #606060;
        }
		.top-2 ul{
		font-size:20px;
		display:flex;
		word-wrap: break-word;
		justify-content: space-around;
		list-style:none;
		}
#my-app{
	background-image:url("https://images.pexels.com/photos/147465/pexels-photo-147465.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-size:cover;
	background-positiion:center;
    background-color: black;  
	transition: 0.5s ease;
	height:100vh;
}

#main{
height:100vh;
}