 * {
     padding: 0px;
     margin: 0px;
     font-family: nunito, sans serrif;
 }

 #header {
     width: 100%;
     background-color: #222;
     overflow: hidden;
     position: fixed;
     top: 0;
 }

 .top-1 {
     text-align: center;
     padding: 10px;
 }

 .top-1 h1 {
     color: #ffffff;
     font-size: 25px;
 }

 .top-1 h2 {
     color: #fdc33d;
     font-size: 25px;
 }

 .top-2 {
     padding: 10px;
     background-color: #e6e5e5;
     color: #606060;
 }

 .top-2 ul {
     font-size: 20px;
     display: flex;
     word-wrap: break-word;
     justify-content: space-around;
     list-style: none;
 }

 #my-app {
     background-image: url("https://images.pexels.com/photos/147465/pexels-photo-147465.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
     background-size: cover;
     background-position: center;
     background-color: black;
     transition: 0.5s ease;
     height: 100vh;
 }

 #main {
     height: 100vh;
     width: 100%;
 }